<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  </head>
  <body>
    <%- include ('partials/nav') %>
    <h1>Contact Us</h1>
    <p>Thanks from getting in touch!</p>
    <p>You contacted <%= data.who %> in the <%= data.department %> department.</p>
    <p>You will reply to you at <%= data.email %></p>
  </body>
</html>
